body {
    margin-top: 2em;
    margin-bottom: 2em; 
    margin-left: .5em;
    margin-right: 3em; 
}

.price__span_lg {
    margin-left: 2em;
}

.multiple__button_lg {
    margin: .3em;
}

.mainCardCollection__main_lg {
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 10rem;
    width: 80rem;
    box-sizing: border-box; 
}

.attractionsCollection__div_lg {
    width: 30rem;
}

.itineraryCollection__div_lg {
    width: 30rem;
}


/* .itineraryCollection__div_lg {

} */